<div class=container>
	<div class=row>
		<div class="col-xs-12 col-sm-2">
			<h3 class="section-title">
				ABOUT
				<small>
					<a href="/resources/mcmurrayResumeV01062017.pdf" target=_blank><i class="fa fa-file-text"></i> Full Resumé</a>
				</small>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-9 clearfix">
			<img class="pull-left img-responsive" src="//img.craigmcmurray.co/craig_md.jpg" alt="Craig McMurray">
			<p>
				Hi there, Reader! I am Craig McMurray, a Full Stack Engineer from Pittsburgh. Ambitious, driven, passionate, and talented are only a few of my qualities. I have a combined 7.5+ years of professional experience in the Financial Services, Healthcare, and Retail industries. My skills sets are ever evolving as I am constantly seeking new ways to improve and learn. I believe that self-improvement, both personal and professional, should be something that everyone aims for.
			</p>
			<p>
				My development portfolio contains projects ranging from Enterprise Java Web and Offline Batch Applications to Responsive Websites and almost everything in-between. My true interest and passion is Web Development, and I am currently employed at DICK'S Sporting Goods as the Lead Mobile Web Developer where I take great pride in my work. I strive to provide the highest quality of work, while also delivering tremendous value. I love working with others as passionate as I am, because I believe that is when truly amazing things can happen. I also find great value in teamwork.
			</p>
			<p>
				In my spare time, I also freelance and have completed several projects that implement Mobile First, Progressive Enhancement, and Responsive Web Design patterns.  Feel free to view this work in the <a du-smooth-scroll="work" title="Freelance Portfolio">Freelance</a> section below.  If you are interested in collaborating with me, please tell me <a du-smooth-scroll="contactme" title="Contact Me">here</a>!  I love working on exciting projects with talented people.  And if you like the landing image above, go visit/support my friend Kevin Barrett at <a href="http://www.chapter412.com" target=_blank title="Chapter 412">Chapter 412</a> and view more of his amazing work!
			</p>
		</div>
	</div>
</div>
