<div class=container>
	<div class=row>
		<div class="col-xs-12 col-sm-2">
			<h3 class="section-title">FREELANCE</h3>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-5">
			<a href="http://thepub2.com" target=_blank>
				<picture>
					<source media="(min-width: 1200px)" srcset="//img.craigmcmurray.co/pub2_portal_desktop.jpg">
					<img class=img-responsive src="//img.craigmcmurray.co/pub2_portal_mobile.jpg" alt="The Pub II">
				</picture>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 project-description">
			<h4>
				<a href="http://thepub2.com" target=_blank>The Pub II</a>
			</h4>
			<p>
				<more>
					The Pub II is a restaurant located in Danville, PA. It is fully responsive with dynamic content that is maintained by a custom content management interface.
					<!--
					<br/>
					<sm><i class="fa fa-tag"></i>Mobile First</sm>
					<sm><i class="fa fa-tag"></i>Responsive Web Design</sm>
					<sm><i class="fa fa-tag"></i>AngularJS</sm>
					-->
				</more>
			</p>
		</div>
	</div>
	<div class=row>
		<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2">
			<a href="http://mayberryhospitality.co/" target=_blank>
				<picture>
					<source media="(min-width: 1200px)" srcset="//img.craigmcmurray.co/mayberry_portal_desktop.jpg">
					<img class=img-responsive src="//img.craigmcmurray.co/mayberry_portal_mobile.jpg" alt="Mayberry Hospitality">
				</picture>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 project-description">
			<h4>
				<a href="http://mayberryhospitality.co/" target=_blank>Mayberry Hospitality, LLC.</a>
			</h4>
			<p>
				<more>
					Mayberry Hospitality LLC. is a custom, full-service catering company located in Danville, PA. It is fully responsive with static frontend content.  It also offers a multi-step form for prospective customers to submit estimate requests.  The estimate requests are saved for use by Mayberry in the backend.  Once estimate details are finalized, requests can be progressed through a custom scheduler and saved as Google Calendar Events that are shared with the customers so that everything is transparent.  All further updates are then re-communicated with the customers for accuracy.
					<!--
					<br/>
					<sm><i class="fa fa-tag"></i>Mobile First</sm>
					<sm><i class="fa fa-tag"></i>Responsive Web Design</sm>
					<sm><i class="fa fa-tag"></i>AngularJS</sm>
					-->
				</more>
			</p>
		</div>
	</div>
	<div class=row>
		<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2">
			<a href="http://hilltopbarandgrill.co/" target=_blank>
				<picture>
					<source media="(min-width: 1200px)" srcset="//img.craigmcmurray.co/hilltop_portal_desktop.jpg">
					<img class=img-responsive src="//img.craigmcmurray.co/hilltop_portal_mobile.jpg" alt="The Hilltop">
				</picture>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 project-description">
			<h4>
				<a href="http://hilltopbarandgrill.co/" target=_blank>Hilltop Bar & Grill</a>
			</h4>
			<p>
				<more>
					The Hilltop Bar & Grill is a restaurant located in Danville, PA. It is fully responsive with dynamic content that is maintained by a custom content management interface.
					<!--
					<br/>
					<sm><i class="fa fa-tag"></i>Mobile First</sm>
					<sm><i class="fa fa-tag"></i>Responsive Web Design</sm>
					<sm><i class="fa fa-tag"></i>AngularJS</sm>
					-->
				</more>
			</p>
		</div>
	</div>
	<div class=row>
		<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2">
			<a href="https://www.smallmangalley.org" target=_blank>
				<picture>
					<source media="(min-width: 1200px)" srcset="//img.craigmcmurray.co/sg_portal_desktop.jpg">
					<img class=img-responsive src="//img.craigmcmurray.co/sg_portal_mobile.jpg" alt="The Hilltop">
				</picture>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 project-description">
			<h4>
				<a href="https://www.smallmangalley.org" target=_blank>Smallman Galley</a>
			</h4>
			<p>
				<more>
					The Smallman Galley is a restaurant incubator located in The Strip District of Pittsburgh, PA.  It is fully responsive with dynamic content that is maintained by a custom content management interface.
					<!--
					<br/>
					<sm><i class="fa fa-tag"></i>Mobile First</sm>
					<sm><i class="fa fa-tag"></i>Responsive Web Design</sm>
					<sm><i class="fa fa-tag"></i>AngularJS</sm>
					-->
				</more>
			</p>
		</div>
	</div>
</div>